html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:10px;
}

:root {
  --light-blue:#2998ff;
  --dark-blue:#135cc5;

  --light-red: #f87171;
  --dark-red: #dc2626;

  --gra1: #fffdfd;
  --gra2: #cecece;
  --gra3: #b4b1b1;
  --gra4: #929291;
  --gra5: #707373;
  --gra6: #5f5f5e;
  --gra7: #515150;
  --gra8: #41403f;

  --primary: var(--gra7);
  --secondary: var(--gra2);

  --font-color: #001010;


  --h1: 7.594rem;
  --h2: 5.063rem;
}
/* body {
  background-color: var(--primary); 
}*/
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
.warm {
  --primary: var(--light-red);
}
.cool {
  --primary:var(--light-blue);
}


::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background-color: var(--primary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5px;
}

.navbar {
  width: 100%;
  height: 7rem;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.option{
  height: 5rem;
  width: 30rem;
  background-color: transparent;
  margin-left: 5rem;

}
.navcontent{
  margin: 7px 15px;
}
#logo{
  align-items: center;
}
.body {
  display:flex;
  flex-direction: row;
  height: 70rem ;
}
.side {
  width: 30%;
  height: 100%;
  background-color: var(--secondary);
}
.main {
  width: 70%;
  height: 100%;
  background-color: var(--gra1);
}
.content{
  height: 100rem auto;
  width: 100%;
  background: var(--gra3);
}
.footer{
  height: 7rem ;
  width: 100%;
  background-color: var(--primary);
}
.products{
  text-align: center;
  padding: 2rem;
}









.container {
  width: 90vw;
  margin: 0rem 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.card {
  height: 33rem;
  width: 33rem;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 7px 7px 12px #00000058;
  background-position: center;
  background-size: cover;
}
.cardcontainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Title{
  margin-bottom: 10px;
  font-size: 17px;
}
.Description{
  margin-bottom: 10px;
  font-size: 15px;
}
.Image{
  margin-top: 30px;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}